.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .list-inner-wrapper {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .list-item-wrapper {
    margin: 10px;
  }
}
