.banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  .banner-inner-wrapper {
    width: 800px;
    height: 280px;
  }

  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.search-bar-wrapper {
  width: 100%;
  height: 40px;
  background-color: #3d4245;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-form {
  display: flex;
  justify-content: space-between;
  max-width: 1078px;
  width: 420px;
  color: rgb(227, 225, 221);

  @media (min-width: 675px) {
    width: 640px;
  }

  @media (min-width: 895px) {
    width: 850px;
  }

  @media (min-width: 1115px) {
    width: 1078px;
  }
}

.search-bar-input {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
